// app global css in SCSS form
@import "fonts";
* {
  font-family: 'Mulish', sans-serif;
}
body {
  font-family: 'Mulish', sans-serif;
  min-width: 320px;
}
a {
  text-decoration: none;
}
.text-mainAuth {
  color: #4778EB;
}
.bg-mainAuth {
  background: #4778EB;
}
.text-bolded {
  font-weight: 900 !important;
}
.bg-inputAuth {
  background: #EFF3FA;
}
.custom-rounded-input {
  border-radius: 15px !important;

  .q-field__control {
    border-radius: 15px !important;
  }
  .q-field__label {
    font-size: 16px !important;

  }
}




//tabs
.tabs--custom {
  a.router-link-active {
    color: #4778EB !important;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}

//tasks

.task {
  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    word-break: break-word;
  }
  &__item {
    background-color: #EFF4FB;
    border-radius: 15px;
  }
  &__small {
    border-radius: 7px;
    font-size: 11px;
    font-weight: 300;
  }
  &__users {
    max-width: calc(100% - 140px);
    p {
      white-space: nowrap;
    }
  }
  &__suppliers {
    &:not(:first-child)::before {
      content: ", ";
    }
  }
}

.bell {
  width: 23px;
  height: 23px;
  &.active {
    color: #2675EA;
  }
}

.read-notify {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #353535;
  font-weight: 500;
  transition: color .1s;
  i {
    color: #494949;
  }
  &:active {
    color: $dark;
    i {
      color: $dark;
    }
  }
}

.count-message {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateX(50%) translateY(-58%);
  font-size: 9px;
}

.noty {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  &__count {
    background-color: #FB5C5C;
    color: white;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    right: -3px;
    top: -7px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    &.splash {
      width: 22px;
      height: 22px;
      font-size: 9px;
    }
  }
}

.text-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}